a,h1,h2,h3,h4,b {color:#6000c0;text-decoration:none;}
img {border:0px;}
tt {color:purple;}
#main {
        margin-left:10.2em;
        margin-right:0em;
        padding-left:1em;
        padding-right:1em;
}
#list1 {
		position:absolute;
		top:0;
        left:0;
}
#list2 {
        right:0;
}
.b {
	height:		22px; 
	min-height: 22px; 
	max-height: 22px;
	cursor: pointer;
	font-weight: bold;
}
.b a{display: block;
	top: 5px;
	font-size: 12pt;
	font-family: arial, sans-serif, helvetica;
	color: white;
	width: 150px;
	height: 20px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	background: url('images/button_bp.png');
    background-position: 0px 0;
}
.b a:hover {
	background-position: -150px 0;
}
.b span {color: #40ff80;
	display:block;
	text-align:center;
	width: 150px;
}
.small {font-size:80%;}
.abs {position:absolute;}

.S0 {
	color: #808080;
}
.S1 {
	color: #007F00;
}
.S4 {
	color: #007F7F;
}
.S5 {
	font-weight: bold;
	color: #00007F;
}
.S6 {
	color: #7F007F;
}
.S9 {
	color: #7F7F00;
}
.S10 {
	font-weight: bold;
	color: #000000;
}
.S16 {
	color: #B00040;
}
span {
	color: #000000;
}